@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-black text-white;
}

.hamburger-line {
  width: 1.5rem;
  height: 0.125rem;
  background-color: white;
  position: absolute;
  left: 0;
  transition: all 0.3s ease;
}

html {
  scroll-behavior: smooth;
}
